---
title: Grateful Place
---
#post
  .post
    %header
      %a.author{:href => ""} Joe Schmoe
      .secondary
        %span.date Jan 03, 2012
        %span.favorite &#9733;
        %span.edit
          %a{:href => "/posts/edit.html"} edit
    .content
      %p Here is some content.


  %h2 Comments
  .comments
    .new#new-comment
      %h3 Post a Comment
      %form{:action => "/comments", :method => "POST"}
        %textarea{:name => "content"}
        %input#post_id{:type => "hidden", :name => "post_id", :value => ""}
        %input{:type => "submit", :value => "Post Comment"}

    .comment
      %header
        %a.author{:href => ""} Billy Blanks
        .secondary
          %span.date Jan 03, 2012 8:30am
          %span.edit
            %a{:href => "/comments/edit.html"} edit
      .content
        %p this is comment content