---
title: Grateful Place
---
#post
  .post
    .content
      %p Here is some content.
    %footer
      .moderate
        %a{:href => "/posts/1"} hide
      .edit
        %a{:href => "/posts/edit.html"} edit
      .date Jan 03, 2012
      .author
        by
        %a{:href => ""} Joe Schmoe
      %a.favorite{:href => "#"} &#9733;



  %h2 Comments
  .comments
    .new#new-comment
      %h3 Post a Comment
      %form{:action => "/comments", :method => "POST"}
        %textarea{:name => "content"}
        %input#post_id{:type => "hidden", :name => "post_id", :value => ""}
        %input{:type => "submit", :value => "Post Comment"}

    .comment
      .content
        %p this is comment content
      %footer
        .moderate
          %a{:href => "/comments/1"} hide          
        .edit
          %a{:href => "/posts/edit.html"} edit
        .date Jan 03, 2012
        .author
          by
          %a{:href => ""} Joe Schmoe