/* line 17, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 61, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%; }

/* line 64, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.6875em; }

@font-face {
  font-family: "ReenieBeanie";
  src: url("fonts/ReenieBeanie.ttf"); }

/* line 47, base.css.scss */
body {
  background: #87ddfd url("/images/blurbg2.jpg") no-repeat;
  color: #444;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif; }

/* line 53, base.css.scss */
.title {
  margin-top: 0.45em;
  text-align: center;
  letter-spacing: -3px;
  font-family: 'Nothing You Could Do', cursive;
  color: white; }

/* line 61, base.css.scss */
#your-stuff {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-top: 1.6875em; }
  /* line 65, base.css.scss */
  #your-stuff .divider {
    margin-bottom: 1.6875em; }

/* line 70, base.css.scss */
.posts {
  width: 74.57627%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline; }
  /* line 72, base.css.scss */
  .posts .post {
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 0 1em;
    padding-top: 1.6875em;
    padding-bottom: 1.6875em; }
    /* line 80, base.css.scss */
    .posts .post header {
      padding-bottom: 1.6875em;
      margin-bottom: 1.6875em;
      overflow: hidden;
      *zoom: 1;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc; }
      /* line 86, base.css.scss */
      .posts .post header .author {
        float: left; }
      /* line 89, base.css.scss */
      .posts .post header .date {
        float: right; }

/* line 96, base.css.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1.6875em;
  margin-top: 1.6875em; }
  /* line 38, ../../../../../../../.rvm/gems/ree-1.8.7-2012.02/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .page:after {
    content: "";
    display: table;
    clear: both; }
