// Imports -----------------------------------------------------------
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm"; // http://compass-style.org/reference/compass/typography/vertical_rhythm/
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";

@import "susy"; // grid

// Grid variables
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$base-line-height: 27px;
$total-columns  : 9;

// Fonts --------------------------------------------------------------
@mixin sans-family {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif-family {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

@mixin monospace-family {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

@mixin chunk {
  background: white;
  @include border-radius(3px); 
  @include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 2px, 0px);
  padding:0 1em;
  @include trailer;
  @include clearfix;
  @include padding-leader(.5);
}

@import "formalize";

// Colors
$purple: #767fa8;
$light-purple-bg: #eeeff4;
$dark-teal: #b5c5cf;
$light-teal: #daedf9;
$light-teal-bg: #f3fafe;
$light-green-bg: #eef4f1;

// To customize vertical ryhthm, see http://compass-style.org/reference/compass/typography/vertical_rhythm/
@include establish-baseline;

@font-face {
  font-family: "ReenieBeanie";
  src: url('fonts/ReenieBeanie.ttf');
}

body {
  background: #87ddfd url("/images/blurbg2.jpg") no-repeat;
  color: #444;
  @include serif-family;
}

h2 {
  @include sans-family;
  @include adjust-font-size-to(30px, 1);
  @include box-sizing(border-box);
  @include trailer(1, 30px);
  @include padding-trailer(.5, 30px);
  @include leader(.5, 30px);
  border-bottom: 1px solid #999;
}

h3 {
  @include sans-family;
  @include adjust-font-size-to(21px, 1);
  @include box-sizing(border-box);
  @include leader(1, 21px);
  @include trailer(1, 21px);
}

p, blockquote {
  @include trailer;
}

blockquote {
  background: #f0fafd;
  padding: .5em 1em;
}

.title {
  @include leader(1, 60px);
  text-align: center;
  letter-spacing:-3px;
  font-family: 'Nothing You Could Do', cursive;
  color: white;
}

nav {
  @include trailer;
  @include clearfix;

  a {
    color: #444;
    text-decoration: none;
    padding: .5em;
    display: block;
  }
  
  li {
    float: left;
    margin-right: 1em;
    background: rgba(255, 255, 255, 0.3);
    @include border-radius(3px); 
  }
}

.page {
  // page acts as a container for our grid.
  @include container;
  @include trailer;
  @include leader;
}

.posts {
  @include span-columns(9 omega);
}

.post, .comment {
  @include chunk;

  header {
    @include clearfix;
    @include adjust-font-size-to(13px);
    @include sans-family;
    @include trailer(.5);
    line-height: inherit;
  }
  
  footer {
    @include clearfix;
    @include adjust-font-size-to(13px);
    @include leader;
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    @include box-sizing(border-box);
    border-top:1px solid #ccc;
    @include sans-family;
    line-height: inherit;
  }

  .content {
    @include adjust-font-size-to(18px);
  }

  
  .author {
    font-weight:bold;
    float: left;
    margin-right:.5em;
  }

  .comments {
    float:left;
  }
  
  .date, .favorite {
    float: right;
  }

  .favorite {
    margin-left: .5em;
  }
}

#new-post, #new-user, .new {
  @include chunk;
  @include padding-leader(.5);
  @include padding-trailer(.5);
  textarea {
    width:100%;
    @include box-sizing(border-box);
    @include adjust-font-size-to(18px);
    @include serif-family;
    @include trailer(.5, 18px);
    border: 1px solid #ddd;
    height: 5 * $base-line-height;
  }

  form {

  }
}

#new-comment {
  h3 {
    margin:0;
    @include trailer(.5);
  }
}

#tips {
  @include chunk;
}

table.input {
  @include trailer(.5);
  td {
    @include padding-trailer(0.5);
  }
  label {
    text-align:right;
    padding-right: 10px;
    display:block;
  }
}

