---
title: About Grateful Place
---

.chunk
  %h2 Cultivating Gratitude: Quick, Easy, Powerful

  %p Taking just a few minutes of every day to express what you are grateful for will improve your life and have a positive impact on others. Not only does expressing your gratitude make others feel appreciated, it also makes you aware of the positive things in your life.

  %p It allows you to look past the small, petty things and focus on what's important. It enables you to turn the negative into something positive, letting you see the good in what may seem bad.

  %p
    %a{:href => "/login"}Give it a try
    &ndash; the rewards you'll accumulate over time are well worth a few minutes every day.
  