---
title: Grateful Place
---
#posts
  .post
    %header
      %a.author{:href => ""} Joe Schmoe
      .date Jan 03, 2012
    .content
      %p Here is some content.
    %footer
      %a.comments{:href => ""} 35 Comments
      .favorite &#9733;

  .post
    %header
      %a.author{:href => ""} Joe Schmoe
      .date Jan 03, 2012
    .content
      %p Here is some content, too.
    %footer
      %a.comments{:href => ""} 35 Comments
      .favorite &#9733;