---
title: Grateful Place
---

.title
  %img{:src => "/images/title.png"}


.page
  #your-stuff
    %ul
      %li
        %a New Post
      %li.divider
        %a Favorites
      %li
        %a Log Out
  .posts
    .post
      .content
        %p Here is some content.
      %footer
        .author Joe Schmoe
        .comments 35 Comments
        .favorite &#9733;
        .date Jan 03, 2012
        
    .post
      .content
        %p Here is some content.
      %footer
        .author Joe Schmoe
        .comments 35 Comments
        .favorite &#9733;
        .date Jan 03, 2012