---
title: Grateful Place
---

.title
  %img{:src => "/images/title.png"}


.page
  %nav
    %ul
      %li
        %a New Post
      %li
        %a Favorites
      %li
        %a Log Out
  .posts
    .post
      %header
        .author Joe Schmoe
        .date Jan 03, 2012
      .content
        %p Here is some content.
      %footer
        .comments 35 Comments
        .favorite &#9733;
        
    .post
      %header
        .author Joe Schmoe
        .date Jan 03, 2012
      .content
        %p Here is some content.
      %footer
        .comments 35 Comments
        .favorite &#9733;