---
title: Grateful Place
---
#posts
  .post
    .content
      %p Here is some content.
    %footer
      .date Jan 03, 2012
      .author
        by
        %a{:href => ""} Joe Schmoe
      .favorite
        %a{:href => "#"} &#9733;
        .status Like this
      %a.comments{:href => ""} 35 Comments
      

  .post
    .content
      %p Here is some content, too.
    %footer
      .date Jan 03, 2012
      .author
        by
        %a{:href => ""} Joe Schmoe
      .favorite
        %a{:href => "#"} &#9733;
        .status Like this
      %a.comments{:href => ""} 35 Comments