.page
  %nav
    %ul
      %li
        %a New Post
      %li
        %a Favorites
      %li
        %a Log Out

  #new-post
    %h2 What are you grateful for?
    %form
      %textarea
      %input{:type => "submit", :value => "Post"}