---
layout: false
---

%form{:action => "/comments/show.html", :method => "POST"}
  #content
    %textarea{:name => "content"}
  %input{:type => "submit", :value => "Update"}
  .formatting-help
    %a{:href => "#"} formatting help