---
title: "Editing Profile :: Grateful Place"
---

#user.chunk
  %div.links
    %ul
      %li.aboue
        %a{:href => "/users/comments.html"}
          Back to profile
  %h2
    Edit Your Profile
  .about
    %h3 About You
    %p I'm a blah blah blah
  .change-password
    %h3 Change Password
  .change-email
    %h3 Change Email Address