---
title: "someuser :: Grateful Place"
---

#user-content.chunk
  .edit
    %a{:href => "/users/edit.html"}
      Edit Your Profile
  %h2.first
    About
    %span.username someuser
  .local-nav
    %ul
      %li.about
        About
      %li.comments
        %a{:href => "/users/comments.html"}
          Comments (<span class="count">10</span>)
      %li.posts
        %a{:href => "/users/posts.html"}
          Posts (<span class="count">20</span>)
  .about
    %p I'm a blah blah blah