<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>someuser's Comments :: Grateful Place</title>
    <link type="text/css" href="/stylesheets/base.css" media="screen" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="/javascripts/all.js"></script>
  </head>
  <body class='users users_comments'>
    <div class='title'>
      <a href='/'>
        <img src='/images/title.png' />
      </a>
    </div>
  </body>
  <div class='page'>
    <nav>
      <ul class='main'>
        <li>
          <a class='new-post' href='/posts/new'>New Post</a>
        </li>
        <li>
          <a class='favorites' href='/favorites'>Favorites</a>
        </li>
        <li>
          <a class='auth'>Log Out</a>
        </li>
      </ul>
      <ul class='secondary'>
        <li id='logged-in'>
          <span>Logged in as</span>
          <a href=''>higginbotham</a>
        </li>
      </ul>
    </nav>
    <div class='chunk' id='user-content'>
      <h2>
        Comments by
        <span class='username'>someuser</span>
      </h2>
      <div class='local-nav'>
        <ul>
          <li class='about'>
            <a href='/users/show.html'>
              About
            </a>
          </li>
          <li class='comments'>
            Comments (<span class="count">10</span>)
          </li>
          <li class='posts'>
            <a href='/users/posts.html'>
              Posts (<span class="count">20</span>)
            </a>
          </li>
        </ul>
      </div>
      <div class='comments'>
        <div class='comment'>
          <div class='meta'>
            <div class='date' href='/'>Oct 12, 2012</div>
          </div>
          <div class='content' href='/'>I should not obtrude my affairs so much on the notice of my readers if very particular inquiries had not been made by my townsmen concerning my mode of life, which some would call impertinent, though they do not appear to me at all impertinent, but, considering</div>
          <div class='more'>
            <a href='/posts/show.html'>go to comment</a>
          </div>
        </div>
        <div class='comment'>
          <div class='meta'>
            <div class='date' href='/'>Oct 12, 2012</div>
          </div>
          <div class='content' href='/'>I should not obtrude my affairs so much on the notice of my readers if very particular inquiries had not been made by my townsmen concerning my mode of life, which some would call impertinent, though they do not appear to me at all impertinent, but, considering</div>
          <div class='more'>
            <a href='/posts/show.html'>go to comment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='markdown-help hidden'>
    <table>
      <tbody>
        <tr style='background-color: #ffff99; text-align: center'>
          <td>
            <em>you type:</em>
          </td>
          <td>
            <em>you see:</em>
          </td>
        </tr>
        <tr>
          <td>*italics*</td>
          <td>
            <em>italics</em>
          </td>
        </tr>
        <tr>
          <td>**bold**</td>
          <td>
            <b>bold</b>
          </td>
        </tr>
        <tr>
          <td>[google!](http://google.com)</td>
          <td>
            <a href='http://google.com'>google!</a>
          </td>
        </tr>
        <tr>
          <td>
            * item 1<br />* item 2<br />* item 3
          </td>
          <td>
            <ul>
              <li>item 1</li>
              <li>item 2</li>
              <li>item 3</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>&gt; quoted text</td>
          <td>
            <blockquote>quoted text</blockquote>
          </td>
        </tr>
        <tr>
          <td>~~strikethrough~~</td>
          <td>
            <strike>strikethrough</strike>
          </td>
        </tr>
        <tr>
          <td>super^script</td>
          <td>
            super
            <sup>script</sup>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</html>
