<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Editing Profile :: Grateful Place</title>
    <link type="text/css" href="/stylesheets/base.css" rel="stylesheet" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="/javascripts/all.js"></script>
  </head>
  <body class='users users_edit'>
    <div class='title'>
      <a href='/'>
        <img src='/images/title.png' />
      </a>
    </div>
  </body>
  <div class='page'>
    <nav>
      <ul class='main'>
        <li>
          <a class='new-post' href='/posts/new'>New Post</a>
        </li>
        <li>
          <a class='favorites'>Favorites</a>
        </li>
        <li>
          <a class='auth'>Log Out</a>
        </li>
      </ul>
      <ul class='secondary'>
        <li id='logged-in'>
          <span>Logged in as</span>
          <a href=''>higginbotham</a>
        </li>
      </ul>
    </nav>
    <div class='chunk' id='user'>
  <div class='links'>
    <ul>
      <li class='aboue'>
        <a href='/users/comments.html'>
          Back to profile
        </a>
      </li>
    </ul>
  </div>
  <h2>
    Edit Your Profile
  </h2>
  <div class='sub-section' id='about'>
    <h3>About You</h3>
    <form action='/users/username' method='POST'>
      <textarea name='about'></textarea>
      <input type='submit' value='Update' />
    </form>
  </div>
  <div class='sub-section' id='change-password'>
    <h3>Change Password</h3>
    <form action='/users/username' method='POST'>
      <div class='errors'>Your passwords didn't match</div>
      <table class='input'>
        <tr>
          <td class='label'>
            <label for='username'>Current Password</label>
          </td>
          <td id='current-password'>
            <input name='current-password' type='password' />
          </td>
        </tr>
        <tr>
          <td class='label'>
            <label for='password'>New Password</label>
          </td>
          <td id='new-password'>
            <input name='new-password' type='password' />
          </td>
        </tr>
        <tr>
          <td class='label'>
            <label for='password'>New Password Confirmation</label>
          </td>
          <td id='new-password-confirmation'>
            <input name='new-password' type='password' />
          </td>
        </tr>
      </table>
      <input type='submit' value='Change Password' />
    </form>
  </div>
  <div class='sub-section' id='change-email'>
    <h3>Change Email Address</h3>
    <form action='/users/username' method='POST'>
      <div class='errors'></div>
      <input name='email' type='text' />
      <input type='submit' value='Update' />
    </form>
  </div>
</div>
  </div>
</html>
