<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>someuser :: Grateful Place</title>
    <link type="text/css" href="/stylesheets/base.css" rel="stylesheet" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="/javascripts/all.js"></script>
  </head>
  <body class='users users_show'>
    <div class='title'>
      <a href='/'>
        <img src='/images/title.png' />
      </a>
    </div>
  </body>
  <div class='page'>
    <nav>
      <ul class='main'>
        <li>
          <a class='new-post' href='/posts/new'>New Post</a>
        </li>
        <li>
          <a class='favorites'>Favorites</a>
        </li>
        <li>
          <a class='auth'>Log Out</a>
        </li>
      </ul>
      <ul class='secondary'>
        <li id='logged-in'>
          <span>Logged in as</span>
          <a href=''>higginbotham</a>
        </li>
      </ul>
    </nav>
    <div class='chunk' id='user-content'>
      <div class='edit'>
        <a href='/users/edit.html'>
          Edit Your Profile
        </a>
      </div>
      <h2>
        About
        <span class='username'>someuser</span>
      </h2>
      <div class='local-nav'>
        <ul>
          <li class='about'>
            About
          </li>
          <li class='comments'>
            <a href='/users/comments.html'>
              Comments (<span class="count">10</span>)
            </a>
          </li>
          <li class='posts'>
            <a href='/users/posts.html'>
              Posts (<span class="count">20</span>)
            </a>
          </li>
        </ul>
      </div>
      <div class='about'>
        <p>I'm a blah blah blah</p>
      </div>
    </div>
  </div>
  <div class='markdown-help hidden'>
    <table>
      <tbody>
        <tr style='background-color: #ffff99; text-align: center'>
          <td>
            <em>you type:</em>
          </td>
          <td>
            <em>you see:</em>
          </td>
        </tr>
        <tr>
          <td>*italics*</td>
          <td>
            <em>italics</em>
          </td>
        </tr>
        <tr>
          <td>**bold**</td>
          <td>
            <b>bold</b>
          </td>
        </tr>
        <tr>
          <td>[google!](http://google.com)</td>
          <td>
            <a href='http://google.com'>google!</a>
          </td>
        </tr>
        <tr>
          <td>
            * item 1<br />* item 2<br />* item 3
          </td>
          <td>
            <ul>
              <li>item 1</li>
              <li>item 2</li>
              <li>item 3</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>&gt; quoted text</td>
          <td>
            <blockquote>quoted text</blockquote>
          </td>
        </tr>
        <tr>
          <td>~~strikethrough~~</td>
          <td>
            <strike>strikethrough</strike>
          </td>
        </tr>
        <tr>
          <td>super^script</td>
          <td>
            super
            <sup>script</sup>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</html>
