---
title: "Log In :: Grateful Place"
---

#login.new
  %h2 Log In

  .clearfix
  %form{:action => "/login", :method => "POST"}
    .errors
    .clearfix
      %table.input
        %tr
          %td
            %label{:for => "login-username"} Username
          %td
            %input#login-username{:name => "username", :type => "text"}

        %tr
          %td
            %label{:for => "login-password"} Password
          %td
            %input#login-password{:name => "password", :type => "password"}

    %input{:type => "submit", :value => "Log In"}

#new-user
  %h2 No Account? Join the Grateful Place Community

  %p Join Grateful Place and become part of a community dedicated to cultivating gratitude.

  %p Taking a few minutes of every day to express what you are grateful for will improve your life and have a positive impact on others. Not only does expressing your gratitude make others feel appreciated, it also makes you aware of the positive in your life.

  %p It allows you to look past the small, petty things and focus on what's important. It enables you to turn the negative into something positive, letting you see the good in what may seem bad.

  #signup
    %h3 Join
    %form{:action => "/users", :method => "POST"}
      .clearfix
        %table.input
          %tr
            %td
              %label{:for => "signup-username"} Username
            %td
              %input#login-username{:name => "username", :type => "text"}
          %tr
            %td
              %label{:for => "signup-password"} Password
            %td
              %input#signup-password{:name => "password", :type => "password"}
          %tr
            %td
              %label{:for => "signup-email"} Email
            %td
              %input#signup-email{:name => "email", :type => "text"}
        .option
          %input#receive_comment_notifications{:type =>"checkbox", :name => "receive_comment_notifications", :checked => true}
          %label{:for => "receive_comment_notifications"}
            Receive email when people comment on your posts
        .option
          %input#receive_newsletter{:type =>"checkbox", :name => "receive_newsletter"}
          %label{:for => "receive_newsletter"}        
            Receive biweekly email newsletter, "Cultivating Gratitude"
      .action
        %input{:type => "submit", :value => "Join Grateful Place"}

